@import "tailwindcss";
@theme {
  --font-sans: var(--font-hanken), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

.embla__slide {
  --w: 292px;
  --h: 346px;

  flex: 0 0 var(--w); /* <-- layout width */
  height: var(--h);
  width: var(--w);
  transition:
    width 1.5s ease,
    height 1000ms cubic-bezier(0.2, 0.7, 0.2, 1);
  transform-origin: bottom center; /* 👈 ensures growth anchors from bottom */
  align-self: flex-end;
  border-radius: 24px;
  overflow: hidden; /* clip image nicely */
  will-change: flex-basis, height;
}

/* Selected slide grows = neighbors move */
.embla__slide.is-selected {
  --w: 380px; /* wider → reflow pushes neighbors */
  --h: 450px; /* taller if you like a "lift" effect */
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  border: 6px solid #fff;
}
