@import "tailwindcss";
@theme {
  --font-sans: var(--font-hanken), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

.embla__slide {
  --h: 346px;
  width: 292px;
  height: var(--h);
  transition:
    width 500ms ease,
    height 500ms ease;
}

.embla__slide.is-selected {
  --h: 450px;
  border: 6px solid #fff;
}
